
## <summary>policy for gamepass</summary>


########################################
## <summary>
##	Transition to gamepass.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gamepass_domtrans',`
	gen_require(`
		type gamepass_t, gamepass_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gamepass_exec_t, gamepass_t)
')


########################################
## <summary>
##	Execute gamepass server in the gamepass domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamepass_initrc_domtrans',`
	gen_require(`
		type gamepass_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, gamepass_initrc_exec_t)
')


########################################
## <summary>
##	Search gamepass lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamepass_search_lib',`
	gen_require(`
		type gamepass_var_lib_t;
	')

	allow $1 gamepass_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read gamepass lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamepass_read_lib_files',`
	gen_require(`
		type gamepass_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, gamepass_var_lib_t, gamepass_var_lib_t)
')

########################################
## <summary>
##	Manage gamepass lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamepass_manage_lib_files',`
	gen_require(`
		type gamepass_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, gamepass_var_lib_t, gamepass_var_lib_t)
')

########################################
## <summary>
##	Manage gamepass lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamepass_manage_lib_dirs',`
	gen_require(`
		type gamepass_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, gamepass_var_lib_t, gamepass_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a gamepass environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gamepass_admin',`
	gen_require(`
		type gamepass_t;
		type gamepass_initrc_exec_t;
		type gamepass_var_lib_t;
	')

	allow $1 gamepass_t:process { ptrace signal_perms };
	ps_process_pattern($1, gamepass_t)

	gamepass_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 gamepass_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, gamepass_var_lib_t)

')

