# gamepassd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.gamepass
host=127.0.0.1

#mainnet default
port=3632

#testnet default
#port=13632

#regtest default
#port=23632

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=47504e43
genesis=000000c01926c45bf57061e8c1083966f9b0cc99031410ee282d82e314236268
input=/home/example/.gamepass/blocks

# testnet
#netmagic=47504e54
#genesis=0000008232340f73146d5d9c7e645b9a2b47c14146a2b3e91ad626610a934c3a
#input=/home/example/.gamepass/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
